<h1 class="mt-3 text-center">Lista de Imóveis</h1>
<div class="container">
    <hr>

    <!-- Botão Adicionar Imóvel dentro da div.container -->
    <div class="text-end mb-3">
        <a href="/admin/imoveis" class="btn btn-success">
            <i class="fas fa-plus"></i> Adicionar Imóvel
        </a>
    </div>

    <div class="row">
        {{#each imoveis}}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <img 
                        src="/{{this.imagens.[0].path}}" 
                        alt="{{this.imagens.[0].filename}}" 
                        class="img-fluid fixed-image"
                        style="cursor: pointer;"
                        data-bs-toggle="modal"
                        data-bs-target="#carouselModal-{{@index}}">
                    <h5 class="card-title">{{this.titulo}}</h5>
                    <p><strong>Preço:</strong> MZN {{this.preco}}</p>
                    <p><strong>Descrição:</strong> {{this.descricao}}</p>
                    <p><strong>Endereço:</strong> {{this.endereco}}</p>

                    <!-- Acessando a categoria (tipo) populada -->
                    <p><strong>Categoria:</strong> {{this.tipo.nome}}</p>
                    
                    <!-- Botões Editar e Excluir -->
                    <div class="d-flex justify-content-between mt-3">
                        <!-- Botão Editar -->
                        <a href="imoveis/edit/{{this._id}}" class="btn btn-warning">
                            <i class="fas fa-edit"></i> Editar
                        </a>
                        
                        <!-- Botão Excluir -->
                        <a href="imoveis/excluir/{{this._id}}" class="btn btn-danger">
                            <i class="fas fa-trash-alt"></i> Excluir
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal com Carrossel -->
        <div class="modal fade" id="carouselModal-{{@index}}" tabindex="-1"
            aria-labelledby="carouselModalLabel-{{@index}}" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="carouselModalLabel-{{@index}}">{{this.nome}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="carousel-{{@index}}" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                {{#each this.imagens}}
                                <div class="carousel-item {{#if @first}}active{{/if}}">
                                    <img src="/{{this.path}}" class="d-block w-100" alt="{{this.filename}}">
                                </div>
                                {{/each}}
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-{{@../index}}"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carousel-{{@../index}}"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
